# Claves y seguridad 
keys/
*.pem

# Bases de datos generadas en local
*.db
*.sqlite3

# Archivos compilados temporales de Python
__pycache__/
*.py[codz]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos de Flask
instance/
*.log

# Configuración del VS Code
.vscode/